@charset "utf-8";
/*css document*/
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	width: 100%;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	width: 100%;
	height: 42px;
	line-height: 42px;
	background: white;
	font-size: 18px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}
.header a{
	color: #161618;
}
.header .left{
	position: relative;
	width: 238px;
}
.header .left div{
	float: left;
}
.header .left .lan p{
	color: #161618;
	font-size: 15px;
	text-align: center;
	padding-right: 14px;
	padding-left: 12px;
	margin-right: 10px;
	line-height: 42px;
}
.service{
	display: flex;
	float: left;
	color: #161618;
}
.header .left .service a{
	width: 85px;
	color: #161618;
	font-size: 15px;
	text-align: center;
	height: 13px;
	line-height: 13px;
	margin-top: 15px;
	float: left;
	border-left: 1px solid #161618;
}
.header .right{
	/*width: 100%;*/
	height: 42px;
	width: 225px;
	float: right;
	position: relative;
}
.header .right div{
	float: right;
}
.search a{
	display: block;
	margin:9px 20px 0px 0px;
	width: 28px;
	height: 25px;
	background: url(../img/search.png) no-repeat center center;
	background-size: 14px 14px;
}
.bug span{
	float: right;
	font-size: 12px;
	height: 25px;
	margin-top: 2px;
	margin-right: 5px;
}
.bug a{
	margin:9px 0px 0px 10px;
	width: 12px;
	height: 25px;
	background: url(../img/bug.png) no-repeat center center;
	background-size: 10px 14px;
	float: right;
}
.login a{
	color: #161618;
	font-size: 15px;
}
/*logo*/
.logo{
	margin-top: 42px;
	overflow: hidden;
	text-align: center;
}
.logo img{
	display: inline-block;
	margin:0px auto 10px auto;
	width: 175px;
	margin-bottom: 10px;
}
/*nav*/
.nav{
	position: relative;
	line-height: 45px;
	height: 45px;
}
.nav ul{
	text-align: center;
	position: relative;
	font-size: 0;
}
.nav li{
	display: inline-block;
	line-height: 35px;
	width: 85px;
	text-align: center;
	height: 45px;
}
.nav li a{
	font-size: 14px;
	color: #111111;
	display: inline-block;
	height: 43px;
	line-height: 50px;
	padding:0 5px;
}
.nav .list:hover{
	border-bottom:2px solid #666;
}
.nav_man{
	background:rgba(247,247,247,0.97);
	padding:33px 100px 91px 100px;
	width: 1100px;
	overflow: hidden;
	margin:0 auto;
	height: 384px;
	opacity: 1;
	z-index: 15;
	display: none;
	position: absolute;
	left: 172px;
	top: 45px;
}
.nav_man ul{
	width: 65%;
	float: left;
	height: auto;
}
.nav_man li{
	width: 25%;
	float: left;
}
.nav_man li span{
	display: block;
	font-size: 15px;
	font-weight: bold;
	text-align: left;

}
.nav_man li a{
	display: block;
	font-size: 15px;
	text-align: left;
	color: #111111;
	height: 35px;
	line-height: 35px;
	padding: 0;
}
.man:hover .nav_man{
	display: block;
	transition:all ease 10s;
}
.medom:hover .nav_man{
	display: block;
}
.child:hover .nav_man{
	display: block;
}
/*content*/
.content{
	border-top: 1px solid #d3d2d3;
	position: relative;
}
.content .cMain{
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
}
.cTop{
	width: 1200px;
	height: 89px;
	display: block;
}
.cTop span{
	float: left;
	font-size: 12px;
	padding: 3% 0;
	margin-right: 4px;
	color: #666;
}
.cTop span a{
	color: #333;
}
.cLeft{
	height: 720px;
	float: left;
	width: 49%;
	overflow: hidden;
	background:#ededed;
}
.clTitle{
	border-bottom: 1px solid #fff;
	font-size: 22px;
	width: 100%;
	overflow: hidden;
	text-indent: 5%;
	display: block;
	padding-top: 28px;
	padding-bottom: 18px;
	font-weight: normal;
}
.cContent{
	padding:40px 5%;
	overflow: hidden;
	width: 90%;
	/*border-bottom: 1px solid #fff;*/
}
.myBolon{
	margin-bottom: 80px;
	font-size: 16px;
	color: #909090;
	width: 100%;
	overflow: hidden;
	display: block;
}
.login_input{
	line-height: 35px;
	height: 35px;
	text-indent: 16px;
	font-size:15px;
	background: #fff;
	margin-bottom:20px;
	width: 100%;
	display: block;
	overflow: hidden;
	outline: none;
	border: none;  
}
.gou{
	width: 100%;
	overflow: hidden;
	margin-bottom: 80px;
	float: left;
}
.gou a{
	width: 15px;
	height: 15px;
	background: #fff;
	float: left;
	margin-top: 1px;
	margin-right: 10px;
}
.gouWord{
	font-size: 15px;
	float: left;
}
.login_sub{
	border: 1px solid #000;
	text-align: center;
	font-size: 16px;
	width: 47%;
	height: 50px;
	line-height: 50px;
	margin-top: 108px;
	display: block;
	overflow: hidden;
	color: #333;
}
.login_sub1{
	background: #000;
	color: #fff;
	border: none;
	margin-top: 0;
	float: left;
}
.forgetM{
	font-size: 15px;
	color: #000;
	margin-top: 31px;
	float: left;
	margin-left: 20px;
	text-decoration: underline;
}
.clFooter{
	border-top: 1px solid #fff;
	margin-top: 10px;
	float: left;
	width: 100%;
	display: block;
	overflow: hidden;
}
.clfWord{
	font-size: 14px;
	margin-top:30px;
	text-indent: 5%; 
}
.clfWord1{
	width: 90%;
	margin: 0 auto;
	margin-top:15px;
}
.clfWord1 img{
	width: 50px;
	float: left;
	margin-right: 23px;
}
.cRight{
	height: 720px;
	float: right;
	width: 49%;
	overflow: hidden;
	background:#ededed;
}
.crWord{
	width: 100%;
	overflow: hidden;
	display: block;
}
.crwSp{
	font-size: 15px;
	margin-bottom: 10px;
	display: block;
}
.crwP{
	font-size: 15px;
	display: block;
	line-height: 24px;
}
/*footer*/
.footer{
	height: 335px;
	background: #ededed;
	width: 100%;
	margin-top: 10%;
	overflow: hidden;
}
.footer1{
	width: 85%;
	margin:0 auto;
	overflow: hidden;
	max-width: 1100px;
}
.footer1 .links{
	float: left;
	margin-top: 55px;
	height: 180px;
	width: 62%;
}
.footer1 .links .dl1{
	margin-right: 22%;
	width: 89px;
	float: left;
	text-align: left;
}
.footer1 .links .dl2{
	margin-right: 22%;
	width: 89px;
	float: left;
	text-align: left;
}
.footer1 .links .dl3{
	width: 89px;
	float: left;
	text-align: left;
}
.footer1 .links dt{
	font-size: 15px;
	color:#000;
	margin-bottom: 20px;
}
.footer1 .links dd{
	height: 34px;
	font-size: 0;
	line-height: 34px;
	color: #888787;
}
.footer1 .links dd a{
	font-size: 12px;
	color: #5a5a5a;
	line-height: 30px;
	display: block;
}
.weixin{
	background: url(../img/weixin_logo.png) no-repeat left center;
	padding-left: 40px;
	background-size: 25px 25px;
}
.weibo{
	background: url(../img/weibo_logo.png) no-repeat left center;
	padding-left: 40px;
	background-size: 25px 25px;
}
.footer1 .act{
	text-align: left;
	border-left: 1px solid #d5d5d5;
	width: 23%;
	padding-left: 12%;
	float: right;
	margin-top: 50px;
	padding-bottom: 22px;
	height: 300px;
}
.footer1 .act p{
	font-size: 15px;
	color: #333;
	line-height: 30px;
	width: 100%;
}
.footer1 .act .email{
	width: 100%;
	height: 40px;
	background: #d9d9d9;
	margin-top: 15px;
	margin-bottom: 20px;
	position: relative;
}
.footer1 .act input{
	height: 30px;
	font-size: 14px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	outline: none;
	background: none;
	border: 0 none;
}
.footer1 .act .go{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url(../img/go.png) no-repeat;
	background-size: 100% 100%;
}
.footer1 .act h4{
	font-size: 15px;
	color: #000000;
	margin-bottom: 15px;
	margin-top: 45px;
	display: block;
	font-weight: normal;
}
.footer1 .act .store{
	width: 100%;
	height: 40px;
	background: #d9d9d9;
	position: relative;
}
.footer1 .act img{
	width: 10px;
	height: 15px;
	float: left;
	display: inline-block;
	margin: 12px 5px;
	margin-left: 14px;
	margin-right: 0;
}
.footerBot{
	font-size: 12px;
	width: 51%;
	float: left;
	margin-top: 60px;
	text-align: left;
	color: #1e1e1e;
}
/*提示输入账号*/
.login_alert{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	z-index: 9999;
}
.l_a_bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background:#000;
	opacity: .5;
}
.l_a_con{
	position: absolute;
	top: 42%;
	left: 24%;
	width: 880px;
	height: 125px;
}
.con_inner{
	overflow: hidden;
	position: relative;
	background:#ffffff;
	height: 125px;
}
.please_inner{
	text-align: center;
	font-size: 12px;
	color: #000;
	padding: 1.5rem 10px;
	line-height: 35px;
	height: 35px;
}
.con_btn{
	border-top: 1px solid #dcdcdc;
	background: #000;
	height: 42px;
}
.btn{
	width: 100%;
	height: 2rem;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: #000;
	display: inline-block;
	height: 42px;
	cursor: pointer;
}
/*注册页面*/
.cancel{
	display: block;
	background: rgba(50,50,50,0.85);
	width: 100%;
	height: 1500px;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 9999;
	padding-top: 78px;
	display: none;
}
.cancel1{
	padding: 40px 100px;
	margin: 0 auto;
	background:#fff;
	width: 500px;
	overflow: hidden;
	position: relative;
}
.cancel span{
	background: url(../img/xx.png) no-repeat right;
	padding-right: 10px;
	height: 20px;
	position: absolute;
	right: 16px;
	top: 7px;
	float: right;
	background-size: 14px;
	padding:5px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.cancel h3{
	font-size: 16px;
	margin-bottom: 10px;
	color: #666;
	margin-top: 30px;
	font-weight: normal;
	width: 100%;
	display: block;
	overflow: hidden;
}
.cancel p{
	font-size: 14px;
	color: #666;
	margin-bottom: 30px;
	width: 100%;
	display: block;
	overflow: hidden;
}
.mi_input{
	margin-bottom: 25px;
	font-size: 14px;
	width: 98%;
	border:1px solid #000;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	outline: none;
	background: none;
}
.yanzhengma{
	height: 44px;
	margin-bottom: 25px;
}
.reg_phone_word,.reg_passw_word,.reg_passw2_word,.yanzhengma_word{
	color: red;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
}
.mi_input1{
	width: 64%;
	float: left;
}
.mi_yan{
	width: 30%;
	float: right;
	text-align: center;
	height: 32px;
	line-height: 32px;
	background: #000;
	color: #fff;
	margin-right: 2%;
	font-size:15px;
	cursor: pointer;
}
.login_fuwu{
	font-size: 14px;
	margin-bottom: 20px;
	color: #717171;
}
.login_ty1{
	float: left;
	margin-left: 5px;
	margin-top: 1px;
	outline: none;
	background: none;
	border:0 none;
}
.login_ty2{
	color: #717171;
	margin-left: 8px;
	float: left;
	font-size: 14px;
	font-weight: normal;
}
.mi_a{
	margin-bottom: 25px;
	background: #000;
	color: #fff;
	margin-right: 15px;
	width: 225px;
	border:1px solid #333;
	text-align: center;
	line-height: 44px;
	height: 40px;
	float: left;
	font-size: 16px;
	margin-top: 40px;
}
